@media (max-width: 1320px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    .header-inner a {
        font-size: 16px;
    }

    .contact{
        margin-right: 2vh;
    }

    .container-second{
        max-width: 768px;
        margin: 0 auto;
    }

    .container-search{
        max-width: 350px;
        height: 30px;
    }

    .search-text{
        outline: 0;
        border: 0;
        vertical-align: middle;
        background-color: #D9D9D9;
        height: 40px;
        width: 250px;
        font-size: 16px;
        border-radius: 10px;
    }
    
    .search-submit{
        outline: 0;
        border: 1px solid black;
        vertical-align: middle;
        background-color: #0086ED;
        color: white;
        height: 40px;
        font-size: 16px;
        border-radius: 10px;
        vertical-align: middle;
    }
    
    .function{
        max-width: 200px;
        margin-right: 1vh;
    }

    .function-text{
        display: none;
    }

    .header-inner2-second{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }

    .hamb-menu{
        display: block;
        margin-left: 2.7vh;
        border: 0;
    }

    .hamb-menu-text{
        display: block;
        margin-left: 10px;
    }

    .menu2{
        display: none;
    }

    .menu2 li:nth-child(1){
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .promo-img{
        margin: 0 auto;
        width: 100%;
    }
    
    .promo-img-img{
        width: 100%;
    }
    
    .promo-inner{
        height: 70px;
        width: 100%;
        background: white;
        margin-top: 2vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .shimano, .stels, .merida, .cube{
        width: 100px;
        height: 50px;
        -o-object-fit: contain;
           object-fit: contain;
    }

    /* promo2 */
    .promo2-card{
        width: 180px;
        height: 220px;
    }

    .promo2-svg{
        width: 60px;
    }

    .promo2-card .text{
        margin-top: 10px;
    }

    /* hits */
    .hits-inner{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .hit-card{
        width: 48%;
        display: grid;
        grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
        grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px  20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px  20px 20px;
    }

    .hits-svg{
        grid-column: -4/-5;
        grid-row: 2/3;
    }

    .hits-img{
        grid-column: 2/-2;
        grid-row: 4/14;
        width: 100%
    }

    .hit-card .text{
        grid-column: 2/-1;
        grid-row: 16/18;
    }

    .hits-h2{
        grid-column: 2/20;
        grid-row: 21/22;
    }

    .hits-svg2{
        grid-column: -4/-5;
        grid-row: 21/22;
    }

    .news-card{
        width: 48%;
    }

    .news-img{
        width: 100%;
    }

    /* subscribe */
    .subscribe-inner{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background-color: white;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 150px;
    }

    .subscribe h2{
        margin-bottom: 2vh;
    }

    /* footer */
    .footer-menu{
        width: 768px;
    }
}
